:root{
    --bg-color: #ffffff;
    --text-color: #000000;
    /* --btn-color: #6593DC; */
    --btn-color: #f4f4f4;
    --accent-color: #4e7df2;
}

body{
    /* background-color: var(--bg-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 22rem;
    border-radius: 30px;
    /* padding: 20px; */
    border: 10px solid #4E8AF7;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    /* background-color: var(--bg-color); */
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* padding: 20px; */
}


#dropdownBtn {

    /* display: block; */
    /* width: 100%; */
    padding: 10px 20px;
    background: none;
    border: none;
    text-align: left;
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
}

.btn-content {
    display: flex;
    align-items: center;  
    gap: 5px;          
}

.dropdown-content {
    display: none; 
    position: absolute;
    top: 40px; 
    /* left: 10px; */
    background-color: #F2F3F7;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /* z-index: 10; */
    /* padding: 10px 0; */
    width: 160px;
    border: none;
    /* font-size: 8px; */
}

.dropdown-content button {
    /* display: block; */
    width: 100%;
    /* padding: 10px 20px; */
    background: none;
    border: none;
    text-align: left;
    font-size: 12px;
    color: var(--text-color);
    cursor: pointer;
    margin-bottom: 10px; 
}  

.dropdown-content button i {
    /* margin-right:  5px;  */
    /* color: var(--text-color); */
    /* font-size: 12px;  */

    background-color: var(--bg-color);
    color: var(--text-color); /* text color for icon */
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; /* center icon inside circle */
}






/* DISPALY SECTION  */
.display {
    /* flex: 1; */
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 20px;
    text-align: right;
    padding: 20px 20px 0 0;
}

#input {
  font-size: 18px;
  color: var(--text-color);
  min-height: 30px;

}

#result {
  font-size: 36px;
  font-weight: 600;
  color: var(--text-color);
  /* overflow-x: auto; */
}

/* BUTTON PART */
.lowerPart{
    background-color:#F2F3F7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;     
}   
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;


}
.btn{
    border: none;
    border-radius: 45%;
    padding: 14px;
    background-color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
   
}

.operator {
  color: var(--accent-color);
}
.equal {
  background-color: var(--accent-color);
  color: #fff;
  /* font-size: large; */
}
.function{
     color: var(--accent-color);
}


.line{
    

    height: 4px;
    width: 100px;
    background-color: #000000;
    border-radius: 20px;
    margin: 20px auto;
}